apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      name: mysql
  template:      
    metadata:
        labels:
          name: mysql    
    spec:
        containers:
          - env:
            - name: MYSQL_DATABASE
              value: Electronics
            - name: MYSQL_ROOT_PASSWORD
              value: admin
            image: mysql:latest
            name: mysql
            ports:
            - name: mysqlport
              containerPort: 3306
              protocol: TCP
            volumeMounts:
              - mountPath: /var/lib/mysql
                name: mysql-volume
        volumes:
          - name: mysql-volume
            persistentVolumeClaim:
              claimName: mysql-pv-claim
