apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
spec:
  replicas: 1
  selector:
    matchLabels:
      name: web-app
  template:
    metadata:
      labels:
        name: web-app
    spec:
      containers:
      - name: web-app
        image: gcr.io/eso-cloud-infra-01/team2/webapp:0.11
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000